/* Extra large devices (large desktops, 1800px and up) */
@media (max-width: 1800px) {
}
/* Extra large devices (large desktops, 1800px and up) */
@media (max-width: 1500px) {
}


/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1199.98px) {
    .tg-hero-content p {
        margin-left: 0;
        margin-right: 0;
    }
}


/* Large devices (desktops, 992px and up) */
@media (max-width: 991.98px) { 
    .tg-cta-content {
        text-align: center;
        margin-left: 0;
        margin-top: 20px;
    }
    .tg-cta-icon{
        text-align: center;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 767.98px) {
    /* .toggle-btn{
        right: 0;
        top: 52px;
    }
    .header-area {
        margin: 0;
    }
    .header-top-wrapper {
        display: block;
    }
    .header-top-right {
        margin: 15px 0;
        display: flex;
        align-items: center;
        justify-content: start;
    }
    .nice-select {
        padding-left: 10px;
        padding-right: 20px;
    }
    .header-top-language.listed .nice-select {
        padding-left: 0px;
    }
    .header-top-wrap {
        margin-left: 0;
    }
    .header-wrapper .logo svg{
        width: 140px;
    }
    .header-menu-wrap {
        padding: 0 10px;
    }
    .header-wrapper{
        margin-right: 0;
    } */
  
}


/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .tg-hero-title .title {
        font-size: 50px;
        line-height: 1.2;
    }
    .tg-hero-content p {
        margin-left: 0;
        margin-right: 0;
    }
    .tg-hero-conten-2 .tg-section-title {
        margin: 0 0 18px 0;
    }
    .tg-launch-item{
        text-align: center;
    }
    .tg-launch-item-title .title {
        text-align: center;
    }
    .tg-process-right-area {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    .tg-process-btn .tg-btn {
        margin-top: 0;
    }
    .tg-faq-wrap .accordion-button {
        font-size: 16px;
    }
    .tg-footer-about{
        text-align: center;
    }
    .tg-footer-about-icon {
        justify-content: center;
    }

}
@media (max-width: 575px) {
    h2 {
        font-size: 30px;
        line-height: 1.3;
    }
    h4 {
        font-size: 18px;
    }
    .tg-hero-title .title {
        font-size: 50px;
        line-height: 52px;
    }
    .tg-hero-conten-2 .tg-section-title {
        margin: 0 0 18px 0;
    }
    .tg-process-item {
        margin-bottom: 30px;
    }
    .tg-cta-bg {
        padding: 20px;
    }
    .tg-faq-wrap .accordion-item {
        padding: 15px 20px;
    }
    .tg-faq-wrap .accordion-button::after {
        font-size: 18px;
    }
    .tg-footer-area {
        text-align: center;
    }
    .tg-footer-widget.social-widget {
        margin-left: 0;
    }
    .tg-guidance-item {
        margin-bottom: 30px;
    }
    .tg-process-title .title {
        line-height: 1.2;
        font-size: 32px;
    }
    .tg-section-title .title {
        line-height: 40px;
    }
    .tg-process-right-area {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    .tg-process-btn .tg-btn {
        margin-top: 0;
    }
    .tg-footer-about-icon {
        justify-content: center;
    }
    .tg-faq-wrap .accordion-button {
        font-size: 16px;
    }
    .tg-faq-wrap .accordion-header{
        margin-right: 20px;
    }
    .tg-faq-wrap .accordion-button::after {
        right: -30px;
    }
    .tg-faq-wrap .accordion-button::before {
        right: -25px;
    }
 }


